@import '../../styles/_breakpoints';
@import '../../styles/colors';

.input-container {
  margin-bottom: 1rem;
  text-align: left;

  .label {
    position: relative;

    .input-icon {
      position: absolute;
      left: 12px;
      top: 28px;
      color: $violet;
      font-size: 20px;
    }

    .input-field {
      width: 100%;
      background: $background;
      border: 1px solid $violet;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      padding-left: 40px;
      font-size: 18px;
      color: $violet;
      font-weight: 600;

      &.has-error {
        color: $red;
        font-weight: 600;
      }
    }
  }

  .error {
    color: $red;
    font-size: 14px;
    width: 100%;
    padding: 0.1rem 0rem;
  }
}
