.share-container {
  margin-top: 0.5rem;
  align-items: center;
  color: #e60afc;

  .border {
    border-bottom: 1px solid #e60afc;
    cursor: pointer;
    display: flex;
    align-items: center;

    .share-button {
      width: 24px;
      margin-top: 2px;
    }

    &:hover {
      border-bottom: 1px solid transparent;
    }

    &:focus {
      outline: 0;
    }
  }

  .curtain {
    position: fixed;
    background: rgba(silver, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    .share-window {
      position: relative;
      z-index: 200;

      h3 {
        color: white;
      }

      .close {
        position: absolute;
        right: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
      }

      padding: 1.5rem;
      background: #282c35;
      border-radius: 5px;
      box-shadow: 1px 1px 5px black;
      max-width: 320px;
      text-align: center;
    }

    &.show {
      display: flex;
    }
  }
}
