@import '../../styles/breakpoints';
@import '../../styles/colors';

.share-container {
  margin-top: 0.5rem;
  align-items: center;
  color: $violet;

  .border {
    border-bottom: 1px solid $violet;
    cursor: pointer;
    display: flex;
    align-items: center;

    .share-button {
      font-size: 28px;
    }

    &:hover {
      border-bottom: 1px solid transparent;
    }

    &:focus {
      outline: 0;
    }
  }

  .share-window {
    h3 {
      color: $white;
      font-size: 28px;
    }

    max-width: 320px;
    text-align: center;

    .share-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      .facebook {
        margin-right: 10px;
      }
      .social {
        font-size: 35px;
        margin-top: 20px;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
