@import '../../styles/_breakpoints';
.info-container {
  width: 100%;
  .site-name {
    margin-top: 50px;
    margin-bottom: -26px;
  }

  .info {
    margin-left: 0;
    display: flex;
    width: 100%;
    align-items: center;

    .image {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin: 1em 0.5em 1em 0;
    }

    .space-between {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .info-text {
        color: white;
      }

      .share-container {
        @media #{$only-on-mobile} {
          display: none;
        }
      }
    }
    p {
      margin: 0;
    }
  }
}
