@import '../../../styles/_colors';

.admin-posts-container {
  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      border: none;
      .create-post {
        .icon {
          font-size: 20px;
          margin-left: 10px;
          margin-right: 0;
          margin-bottom: 3px;
        }

        height: 40px;
      }
    }
  }

  .search {
    margin: 3rem 0;
    margin-bottom: 4rem;
    font-size: 30px;
    position: relative;

    .icon {
      position: absolute;
      left: 10px;
      top: 10px;
      color: $violet;
    }

    .search-input {
      color: $white;
      font-size: 30px;
      background: $background;
      width: 100%;
      padding: 0.5rem;
      padding-left: 50px;
      border: none;
      border-bottom: 4px solid $violet;
      box-shadow: 0px 14px 10px -10px rgba(0, 0, 0, 0.5);
    }
  }

  .posts-list {
    .post-item {
      padding: 1rem;
      border: 1px solid $violet;
      border-radius: 5px;
      box-shadow: 0px 14px 10px -10px rgba(0, 0, 0, 0.5);
      margin-bottom: 1.5rem;

      &:hover {
        border: 1px solid $white;

        a {
          text-decoration: none;
        }
      }
      .post-title {
        color: $white;
        font-size: 24px;
        display: flex;
        border-bottom: 1px dotted $violet;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      .icon {
        display: flex;
        margin-right: 5px;
        align-items: center;
        color: $violet;

        &.white {
          color: $white;
          margin-left: 4px;
        }
      }
      .post-date {
        display: flex;
      }
    }
  }
}
