@import '_colors';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:400,700,900&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: $background;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 16px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.88);
  -webkit-font-smoothing: antialiased;

  h1 {
    font-size: 2.2em;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 2px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    color: $violet;
    font-weight: 900;
  }

  a {
    color: $violet;
    text-decoration: none;
    border-bottom: 1px solid $violet;

    &:hover {
      border-bottom: none;
    }
  }

  .remove-outline {
    &:focus {
      outline: 0;
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  background: $violet;
  font-size: 18px;
  font-weight: 900;
  border-radius: 5px;
  background: $background;
  color: $violet;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $violet;
  margin-bottom: 1rem;

  .icon {
    margin-right: 10px;
    font-size: 26px;
  }

  &:hover {
    background: $violet;
    color: $white;
    border: 1px solid $violet;
  }

  &:focus {
    outline: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
