@import '../../styles/_colors';

.auth-form {
  text-align: center;

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .submit-button {
      //width: 100%;
      width: 30%;
      margin-bottom: 3rem;
      margin-top: 1rem;

      &:disabled {
        border: 1px solid $silver;
        color: $silver;

        &:hover {
          color: $silver;
          background: $background;
        }
      }
    }
  }
}
