.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .social-links {
    border: none;

    &:first-child {
      margin-left: 10px;
    }

    .social {
      align-self: center;
      height: 40px;
      width: 40px;
    }
  }
}
