@import '../../styles/colors';
@import '../../styles/breakpoints';

.login {
  border: 1px solid $violet;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;

  .login-button {
    color: $violet;
    border-bottom: 1px solid $violet;

    &:hover {
      border: none;
      cursor: pointer;
    }
  }

  .login-modal {
    .login-card {
      .email-login {
        color: $white;
        margin-top: 40px;
      }
      .login-header {
        font-size: 28px;
        color: $white;
      }
    }
  }
}
