.login {
  border: 1px solid #e60afc;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;

  .login-button {
    color: #e60afc;
    border-bottom: 1px solid #e60afc;

    &:hover {
      border: none;
      cursor: pointer;
    }
  }

  .login-modal {
    .login-card {
      .login-header {
        font-size: 28px;
        color: white;
      }
    }
  }
}
