.comment-container {
  width: 100%;
  margin-top: 2rem;

  .comment-data {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }

    .comment-info {
      margin-left: 10px;

      h4 {
        color: white;
        margin: 0px;
      }
      .date {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .text {
    margin-top: 0.5rem;
    color: white;
    font-style: italic;
    font-weight: 400;
    padding-left: 1rem;
  }
}
