@import '../../styles/breakpoints';
@import '../../styles/colors';

.new-comment {
  margin-top: 3rem;
  max-width: 100%;

  h3 {
    margin-bottom: 5px;
  }

  .login-info {
    font-size: 14px;
    .user-name {
      color: $violet;
      font-weight: bold;
    }
  }

  .text-area {
    width: 100%;
    background: $background;
    border: 1px solid $violet;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $white;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 5px;
    min-height: 100px;
    overflow: hidden;
    box-sizing: border-box;

    &:focus {
      outline: 0;
    }
  }
}
