@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');

.text-editor-container {
  margin: 1rem 0;

  .control-panel {
    padding: 1rem;
    // border: 1px solid $violet;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .edit-text-icon {
      padding: 0.5rem 1rem 0.3rem 1rem;
      border: 1px solid $violet;
      margin-right: 1rem;
      border-radius: 3px;

      .icon {
        color: $violet;
      }

      &:hover {
        border: 1px solid $white;
        .icon {
          color: $white;
        }
      }
    }

    .heading-controls {
      align-self: center;
      height: 35px;
      background: $background;
      color: $white;
      border: 1px solid $violet;
      font-size: 18px;
    }
  }
  .post-text {
    background: $background;
    margin: 0.5rem 0;
    min-height: 300px;
    padding: 1rem;
    font-size: 18px;
    color: $white;
    border: 1px solid $violet;
    border-radius: 5px;
  }

  blockquote {
    font-size: 20px;
    color: $violet;
    margin-left: 10px;
    padding-left: 1rem;
    font-family: 'Merienda One', cursive;
    border-left: 1px solid $violet;
    quotes: '“' '”';
  }
}
