@import '../../styles/colors';

.text-editor-container {
  margin: 1rem 0;

  .control-panel {
    padding: 1rem;
    // border: 1px solid $violet;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .edit-text-icon {
      padding: 0.5rem 1rem;
      border: 1px solid $violet;
      margin-right: 1rem;
      border-radius: 3px;

      .icon {
        color: $violet;
      }

      &:hover {
        border: 1px solid $white;
        .icon {
          color: $white;
        }
      }
    }
  }
  .post-text {
    background: $background;
    margin: 0.5rem 0;
    min-height: 300px;
    padding: 1rem;
    font-size: 22px;
    color: $white;
    border: 1px solid $violet;
    border-radius: 5px;
  }
}
